:root {
	--color-blue: #0090FF;
	--color-blue-20: #0C2A42;
	--color-background: #0F1113;
	--color-background-highlight: #1B1D1F;
	--color-border: #4D4D4D;
	--color-border-highlight: #888888;
	--color-text2: #CFCFCF;
	--color-text3: #A0A0A0;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
	text-decoration: none;
	padding: 12px 16px;
	border-radius: 5px;
	color: var(--color-blue);
	font-weight: 500;
	text-align: center;
	background-color: var(--color-blue-20);
	border: 2px solid var(--color-blue) !important;
}

.button svg {
	margin-right: 12px;
}

.button.secondary {
	border: none;
	background-color: var(--color-background);
}

.button:hover {
	cursor: pointer;
	filter: brightness(0.8);
}

input, textarea, select {
	transition: 0.2s;
	outline: none;
	border-radius: 5px;
	border: 2px solid var(--color-border);
	color: white;
	padding: 16px;
	font-size: 16px;
	background-color: transparent;
	font-family: 'Roboto Mono', monospace;
	-webkit-appearance: none;
}

input:focus, textarea:focus, select:focus {
	border-color: var(--color-border-highlight);
}

input[type="submit"] {
	font-weight: bold;
}

.select-container {
	display: flex;
	position: relative;
}

.select-container select {
	flex-grow: 1;
}

select ~ svg {
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h3 {
	margin: 50px 10px 12px 10px;
	color: var(--color-text3);
	font-weight: 500;
}

h4, h5 {
	color: var(--color-text3);
}

.card {
	transition: 0.2s;
	border-radius: 10px;
	background-color: var(--color-background);
}

.card:hover {
	background-color: var(--color-background-highlight);
}

body {
	color: white;
	font-family: 'Roboto Mono', monospace;
	background-color: #0F1113;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.3'%3E%3Cpath fill='%23111315' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23141618' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2316181a' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23191b1d' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%231B1D1F' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23161e26' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2311202d' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%230c2334' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2306263c' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23002A44' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

#content {
	max-width: 1100px;
	margin: 0 auto;
	padding: 24px;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 2px solid var(--color-border);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--color-background);
	z-index: 420;
	padding: 0 24px;
}

header > .row {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	flex-wrap: wrap;
	padding: 12px 0;
}

header .button {
	margin: 12px 10px 12px auto;
}

#logo {
	margin: 12px 10px;
	font-size: 24px;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo svg {
	margin-right: 20px;
}

#logo span {
	margin-left: 8px;
	color: var(--color-text3);
}

#splash {
	margin: 150px 0 50px 0;
	display: flex;
	flex-wrap: wrap;
}

#splash-content {
	max-width: 100%;
	margin: 0 10px;
}

#splash-content h1 {
	font-size: 40px;
}

#splash-content h1 b {
	color: var(--color-blue);
}

#splash-content h4 {
	font-weight: 400;
	margin: 12px 0 32px 0;
}

#splash-content > .row {
	margin: -10px 0 0 -10px;
}

.splash-item {
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin: 10px;
	background-color: var(--color-background);
}

.splash-item svg {
	height: 48px;
}

.splash-item span {
	margin-top: 4px;
}

#contact {
	margin: 12px 10px 0 auto;
}

#contact input, #contact textarea, #contact select {
	margin: 8px;
}

#services {
	display: flex;
	flex-wrap: wrap;
}

.service-item {
	padding: 12px 16px;
	margin: 10px;
	max-width: 260px;
	width: 100%;
}

.service-item span {
	font-size: 14px;
	color: var(--color-text3);
	margin-bottom: 8px;
}

.service-item ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.service-item ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px 0;
}

.service-item svg {
	margin-right: 12px;
	width: 24px;
	height: 24px;
}

#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.project-item {
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	max-width: 450px;
	width: 100%;
	margin: 10px;
}

.project-item:hover {
	filter: brightness(0.8);
}

.project-item > img {
	width: 100%;
}

.project-item .row {
	padding: 12px 16px;
	align-items: center;
	flex-wrap: wrap;
}

.project-item .row img {
	margin-right: 12px;
}

.project-item .row span {
	margin-left: auto;
	color: var(--color-blue);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-item .row span svg {
	margin-left: 8px;
}

.project-item p {
	margin: 0;
	color: var(--color-text3);
	font-size: 14px;
	padding: 0 16px 24px 16px;
}

#testimonials {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.testimonial-item {
	box-sizing: border-box;
	margin: 10px;
	max-width: 450px;
	width: 100%;
	text-decoration: none;
	padding: 16px;
}

.testimonial-item > .row {
	align-items: center;
}

.testimonial-person {
	margin-left: 16px;
	color: white;
	display: flex;
	flex-direction: column;
}

.testimonial-person span:last-child {
	color: var(--color-text3);
}

.testimonial-item p {
	font-size: 14px;
	color: white;
	margin-bottom: 0;
}

footer {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	border-top: 2px solid var(--color-border);
	padding: 20px 0;
	font-size: 14px;
	font-weight: 400;
	color: var(--color-text2);
}

footer span:last-child {
	margin-left: auto;
}

@media(max-width: 1050px) {
	#splash-content {
		text-align: center;
		width: 100%;
	}

	#splash-content > .row {
		justify-content: center;
		flex-wrap: wrap;
	}

	#contact {
		margin: 32px auto 0 auto;
	}

	h3 {
		text-align: center;
	}

	#services, #projects, #testimonials {
		justify-content: center;
	}
}

@media(max-width: 525px) {
	header > .row {
		flex-direction: column;
		align-items: center;
	}

	header .button {
		margin-left: 10px;
	}

	#splash {
		margin-top: 200px;
	}

	#contact > .row {
		flex-direction: column;
	}

	footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	footer span:last-child {
		margin: 16px 0 0 0;
	}
}