<!DOCTYPE html>
<html>
	<head>
		<title>gdev consulting | Bermudian full-stack software development</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#0090FF" />
		<meta name="description" content="Full-stack software development based in Bermuda. We specialize in websites, mobile apps, UI / UX design, enterprise financial software, and more." />
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap" rel="stylesheet"> 

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FC51LEJNF7"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-FC51LEJNF7');
		</script>
	</head>
	<body>
		<div id="content">
			<header>
				<div class="row">
					<div id="logo">
						{{ icon('logo')|safe }}
						gdev<span>consulting</span>
					</div>
					<a class="button secondary" href="mailto:gabrieljaredjones@gmail.com">
						{{ icon('mail')|safe }}
						gabe@buddy.bm
					</a>
				</div>
			</header>
			<div id="splash">
				<div id="splash-content">
					<h1>Bermudian <b>full-stack</b><br>software development</h1>
					<h4>Send us an email for more information</h4>
					<div class="row">
						<div class="splash-item card">
							{{ icon('website')|safe }}
							<span>Web Dev</span>
						</div>
						<div class="splash-item card">
							{{ icon('appstore')|safe }}
							<span>Apps</span>
						</div>
						<div class="splash-item card">
							{{ icon('figma')|safe }}
							<span>Design</span>
						</div>
						<div class="splash-item card">
							{{ icon('code')|safe }}
							<span>More</span>
						</div>
					</div>
				</div>
				<!--<form id="contact" method="POST">
					<div class="row">
						<div class="col">
							<input name="name" autocomplete="name" placeholder="Name" value="{{ form.name.data }}" required />
							<input name="email" type="email" autocomplete="email" placeholder="Email" value="{{ form.email.data }}" required />
							<div class="select-container">
								<select name="interest">
									<option value="" selected disabled hidden>Interest</option>
									<option value="website">Website</option>
									<option value="app">Mobile App</option>
									<option value="enterprise">Enterprise</option>
									<option value="design">Design</option>
									<option value="other">Other</option>
								</select>
								{{ icon('arrow')|safe }}
							</div>
						</div>
						<div class="col">
							<textarea name="message" placeholder="Message" style="height: 98px" required>{{ form.message.data }}</textarea>
							<input type="submit" class="button" value="SUBMIT" />
						</div>
					</div>
				</form>-->
			</div>

			<h3>SERVICES</h3>
			<div id="services">
				<div class="service-item card">
					<span>Web Development</span>
					<ul>
						<li>{{ icon('react')|safe }} React (TypeScript)</li>
						<li>{{ icon('python')|safe }} Flask (Python)</li>
					</ul>
				</div>
				<div class="service-item card">
					<span>Mobile Apps</span>
					<ul>
						<li>{{ icon('react')|safe }} React Native (all)</li>
						<li>{{ icon('swift')|safe }} Swift (iOS)</li>
					</ul>
				</div>
				<div class="service-item card">
					<span>Enterprise</span>
					<ul>
						<li>{{ icon('csharp')|safe }} C#, ASP.NET</li>
						<li>{{ icon('github')|safe }} GitHub</li>
					</ul>
				</div>
				<div class="service-item card">
					<span>DevOps & Hosting</span>
					<ul>
						<li>{{ icon('heroku')|safe }} Heroku</li>
						<li>{{ icon('aws')|safe }} AWS</li>
					</ul>
				</div>
				<div class="service-item card">
					<span>UI / UX Design</span>
					<ul>
						<li>{{ icon('figma')|safe }} Prototypes</li>
						<li>{{ icon('mapbox')|safe }} Interactive maps</li>
					</ul>
				</div>
				<div class="service-item card">
					<span>Data Science</span>
					<ul>
						<li>{{ icon('python')|safe }} Matplotlib & numpy</li>
						<li>{{ icon('pandas')|safe }} Pandas</li>
					</ul>
				</div>
			</div>

			<h3>PROJECTS</h3>
			<div id="projects">
				<a class="project-item card" href="https://www.healthiq.bm" target="_blank">
					<img src="{{ url_for('static', filename='fittofly.png') }}" />
					<div class="row">
						<img src="{{ url_for('static', filename='healthiq-logo.png') }}" />
						<b>HealthIQ Fit to Fly</b>
						<span>healthiq.bm {{ icon('external')|safe }}</span>
					</div>
					<p>A COVID-19 antigen test reservation system</p>
				</a>
				<a class="project-item card" href="https://www.scootermart.bm" target="_blank">
					<img src="{{ url_for('static', filename='scootermart.png') }}" />
					<div class="row">
						<img src="{{ url_for('static', filename='scootermart-logo.png') }}" />
						<b>Scooter Mart</b>
						<span>scootermart.bm {{ icon('external')|safe }}</span>
					</div>
					<p>Online checkout for bike dealership</p>
				</a>
				<a class="project-item card" href="https://covid.healthiq.bm" target="_blank">
					<img src="{{ url_for('static', filename='healthiq.png') }}" />
					<div class="row">
						<img src="{{ url_for('static', filename='healthiq-logo.png') }}" />
						<b>CovidIQ</b>
						<span>covid.healthiq.bm {{ icon('external')|safe }}</span>
					</div>
					<p>A community symptom tracker for COVID-19</p>
				</a>
			</div>

			<h3>TESTIMONIALS</h3>
			<div id="testimonials">
				<div class="testimonial-item card">
					<div class="row">
						<img src="{{ url_for('static', filename='nickthomson.png') }}" width="50" />
						<div class="testimonial-person">
							<span>Nick Thomson</span>
							<span>ScooterMart Owner</span>
						</div>
					</div>
					<p>Gabriel is a great guy and he was phenomenal to work with. I highly recommend Gabriel & gdev to anyone looking for high-quality website design and app development work, at an affordable price!</p>
				</div>
				<a class="testimonial-item card" href="https://twitter.com/BermudaPremier/status/1256333930287919105" target="_blank">
					<div class="row">
						<img src="{{ url_for('static', filename='davidburt.png') }}" width="50" />
						<div class="testimonial-person">
							<span>David Burt</span>
							<span>Bermuda Premier</span>
						</div>
					</div>
					<p>The @BDAHealth launched a new online health monitoring tool called HealthIQ. The new tool will help us to track symptoms based on #COVID19 criteria. Mr. Gabriel Jones and Mr. Lee McArthur are to be commended for their work in designing the app. http://HealthIQ.bm -DB</p>
				</a>
			</div>

			<div id="code">

			</div>

			<footer>
				<span>gdev consulting ltd. &copy; {{ now.year }}</span>
				<span>Made in Bermuda 🇧🇲</span>
			</footer>
		</div>
	</body>
</html>