<!DOCTYPE html>
<html>
  <head>
    <title>gdev consulting | Bermudian full-stack software development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0090FF" />
    <meta
      name="description"
      content="gdev is a full-stack software development company based in Bermuda. We specialize in websites, mobile apps, UI/UX design, enterprise financial software, and more."
    />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-FC51LEJNF7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FC51LEJNF7");
    </script>
  </head>
  <body>
    <div id="content">
      <header>
        <div class="row">
          <div id="logo">
            {{ icon("logo") | safe }}
            gdev<span>consulting</span>
          </div>
          <a class="button secondary" href="mailto:gdev.bm@icloud.com">
            {{ icon("mail") | safe }}
            contact
          </a>
        </div>
      </header>
      <div id="splash">
        <div id="splash-content">
          <h1>Bermudian <b>full-stack</b><br />software development</h1>
          <h4></h4>
          <div class="row">
            <div class="splash-item card">
              {{ icon("website") | safe }}
              <span>Web Dev</span>
            </div>
            <div class="splash-item card">
              {{ icon("appstore") | safe }}
              <span>Apps</span>
            </div>
            <div class="splash-item card">
              {{ icon("figma") | safe }}
              <span>Design</span>
            </div>
            <div class="splash-item card">
              {{ icon("ai") | safe }}
              <span>AI & ML</span>
            </div>
          </div>
        </div>
        <!--<form id="contact" method="POST">
					<div class="row">
						<div class="col">
							<input name="name" autocomplete="name" placeholder="Name" value="{{ form.name.data }}" required />
							<input name="email" type="email" autocomplete="email" placeholder="Email" value="{{ form.email.data }}" required />
							<div class="select-container">
								<select name="interest">
									<option value="" selected disabled hidden>Interest</option>
									<option value="website">Website</option>
									<option value="app">Mobile App</option>
									<option value="enterprise">Enterprise</option>
									<option value="design">Design</option>
									<option value="other">Other</option>
								</select>
								{{ icon('arrow')|safe }}
							</div>
						</div>
						<div class="col">
							<textarea name="message" placeholder="Message" style="height: 98px" required>{{ form.message.data }}</textarea>
							<input type="submit" class="button" value="SUBMIT" />
						</div>
					</div>
				</form>-->
      </div>

      <h3>TECH STACK</h3>
      <div id="services">
        <div class="service-item card">
          <span>Frontend</span>
          <ul>
            <li>{{ icon("react") | safe }} React (TypeScript)</li>
            <li>{{ icon("tailwind") | safe }} Tailwind</li>
            <li>{{ icon("d3") | safe }} Data Viz (d3.js)</li>
          </ul>
        </div>
        <div class="service-item card">
          <span>Backend</span>
          <ul>
            <li>{{ icon("csharp") | safe }} ASP.NET (C#)</li>
            <li>{{ icon("python") | safe }} Flask (Python)</li>
            <li>{{ icon("hono") | safe }} Hono (TypeScript)</li>
          </ul>
        </div>
        <div class="service-item card">
          <span>Mobile</span>
          <ul>
            <li>{{ icon("expo") | safe }} Expo (React Native)</li>
            <li>{{ icon("swift") | safe }} Swift (iOS)</li>
            <li>{{ icon("appstore") | safe }} Releases</li>
          </ul>
        </div>
        <div class="service-item card">
          <span>UI / UX Design</span>
          <ul>
            <li>{{ icon("figma") | safe }} Figma prototypes</li>
            <li>{{ icon("mapbox") | safe }} Interactive maps</li>
            <li>{{ icon("website") | safe }} Responsive design</li>
          </ul>
        </div>
        <div class="service-item card">
          <span>Cloud Architecture</span>
          <ul>
            <li>{{ icon("aws") | safe }} AWS, IaC</li>
            <li>{{ icon("code") | safe }} Microservices</li>
            <li>{{ icon("github") | safe }} CI/CD</li>
          </ul>
        </div>
        <div class="service-item card">
          <span>AI & ML</span>
          <ul>
            <li>{{ icon("ai") | safe }} GenAI</li>
            <li>{{ icon("pandas") | safe }} OCR, Data extraction</li>
            <li>{{ icon("neuralnet") | safe }} Machine learning</li>
          </ul>
        </div>
        <div class="service-item card">
          <span>PaaS</span>
          <ul>
            <li>{{ icon("supabase") | safe }} Supabase</li>
            <li>{{ icon("heroku") | safe }} Heroku</li>
          </ul>
        </div>
      </div>

      <h3>PROJECTS</h3>
      <div id="projects">
        <a
          class="project-item card"
          href="https://mars.gdev.bm"
          target="_blank"
        >
          <img src="{{ url_for('static', filename='mars-game.png') }}" />
          <div class="row">
            <img src="{{ url_for('static', filename='mars-mini.png') }}" />
            <b>Mars Game</b>
            <span>mars.gdev.bm {{ icon("external") | safe }}</span>
          </div>
          <p>
            2025 • A vibe coding game, built with Cursor and Claude Sonnet AI
          </p>
        </a>
        <a class="project-item card">
          <img src="{{ url_for('static', filename='fittofly.png') }}" />
          <div class="row">
            <img src="{{ url_for('static', filename='healthiq-logo.png') }}" />
            <b>HealthIQ Fit to Fly</b>
            <span class="offline">Offline</span>
          </div>
          <p>
            2022 • A COVID-19 antigen test reservation system, created for the
            Bermuda Health Council
          </p>
        </a>
        <a
          class="project-item card"
          href="https://www.scootermart.bm"
          target="_blank"
        >
          <img src="{{ url_for('static', filename='scootermart.png') }}" />
          <div class="row">
            <img
              src="{{ url_for('static', filename='scootermart-logo.png') }}"
            />
            <b>Scooter Mart</b>
            <span>scootermart.bm {{ icon("external") | safe }}</span>
          </div>
          <p>
            2021 • Online checkout for local motorbike dealership with full
            e-commerce features
          </p>
        </a>
        <a class="project-item card">
          <img src="{{ url_for('static', filename='healthiq.png') }}" />
          <div class="row">
            <img src="{{ url_for('static', filename='healthiq-logo.png') }}" />
            <b>CovidIQ</b>
            <span class="offline">Offline</span>
          </div>
          <p>
            2020 • A community symptom tracker for COVID-19, in partnership with
            the Bermuda Government
          </p>
        </a>
      </div>

      <h3>TESTIMONIALS</h3>
      <div id="testimonials">
        <div class="testimonial-item card">
          <div class="row">
            <img
              src="{{ url_for('static', filename='nickthomson.png') }}"
              width="50"
            />
            <div class="testimonial-person">
              <span>Nick Thomson</span>
              <span>ScooterMart Owner</span>
            </div>
          </div>
          <p>
            Gabriel is a great guy and he was phenomenal to work with. I highly
            recommend Gabriel & gdev to anyone looking for high-quality website
            design and app development work.
          </p>
        </div>
        <a
          class="testimonial-item card"
          href="https://twitter.com/BermudaPremier/status/1256333930287919105"
          target="_blank"
        >
          <div class="row">
            <img
              src="{{ url_for('static', filename='davidburt.png') }}"
              width="50"
            />
            <div class="testimonial-person">
              <span>David Burt</span>
              <span>Bermuda Premier</span>
            </div>
          </div>
          <p>
            The @BDAHealth launched a new online health monitoring tool called
            HealthIQ. The new tool will help us to track symptoms based on
            #COVID19 criteria. Mr. Gabriel Jones and Mr. Lee McArthur are to be
            commended for their work in designing the app. http://HealthIQ.bm
            -DB
          </p>
        </a>
      </div>

      <div id="code"></div>

      <footer>
        <span>
          gdev consulting ltd. &copy; {{ now.year }}
          <a class="social-media" href="https://x.com/gabe_bda" target="_blank">
            {{ icon("x") | safe }}
          </a>
          <a
            class="social-media"
            href="https://github.com/gabriel-jones"
            target="_blank"
          >
            {{ icon("github") | safe }}
          </a>
          <a
            class="social-media"
            href="https://www.linkedin.com/company/gdev-bm"
            target="_blank"
          >
            {{ icon("linkedin") | safe }}
          </a>
        </span>
        <span>Made in Bermuda 🇧🇲</span>
      </footer>
    </div>
  </body>
</html>
